.body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    /* [disabled]padding-top: 0; */
    padding-left: 0;
    padding-bottom: 0;
    margin: 0;
    background-color: #f4f4f4;
}


/*global area*/

.container {
    width: 80%;
    margin: auto;
    /*controls the margin*/
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

.dark {
    padding: 15px;
    background: #35424a;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px
}

.button-1 {
    height: 38;
    background: #e8491d;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}


/*now header*/

header {
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    /*in order to make it responsive while adjusting*/
    border-bottom: #e8491d 3px solid;
}


/*for the header links*/

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}


/*in order to make the list  horizontal*/

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
    /*padding: top right bottom left*/
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}


/*in order to highlight the first word of the heading*/

header .highlight,
header .current a {
    color: #e8491d;
    font-weight: bold;
}


/*now to hover the header*/

header a:hover {
    color: #cccccc;
    font-weight: bold;
}


/*now the show case*/

#showcase {
    min-height: 450px;
    background: url('520678.jpg') no-repeat 0 -450px;
    text-align: center;
    color: #ffffff;
}

#showcase h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p {
    font-size: 20px;
}


/*newsletter area*/

#newsletter {
    padding: 15px;
    color: #ffffff;
    background: #35424a;
}

#newsletter h1 {
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 250px;
}


/*now the boxes area*/

#boxes {
    margin-top: 20px;
}

#boxes .box {
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#boxes .box img {
    width: 90px;
}


/*side bar*/

#sidebar {
    float: right;
    width: 30%;
}

#main-col p {
    font-size: 15px;
}


/*main col*/

#main-col {
    float: left;
    width: 60%;
}

footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #e8491d;
    text-align: center;
}